{% extends "maraudersmap.html" %}

{% block title %}
    {{ super() }} Home
{% endblock %}

{% block content %}
<div class="container">
    <div class="mission">
            &emsp;GetPost is a 21st-century take on the Oberlin mailroom.
            We aim to save both students and employees a significant amount of time
        and energy by allowing package information to be stored and viewed online.
            No longer will anyone have to walk all the way up to Wilder Hall in
        order to check on a package, just to learn that it hasn't arrived yet and
        that they'll be forced to repeat themselves the day after!
            In short, <em>GetPost brings the mailroom directly to you</em>.
    </div>
</div>
{% endblock %}
