<div class="alert">
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
        {% if errors %}
            {% for message in errors %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% with successes = get_flashed_messages(category_filter=["success"]) %}
        {% if successes %}
            {% for message in successes %}
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
