{% extends "maraudersmap.html" %}

{% block title %}
    {{ super() }} Packages
{% endblock %}

{% block subcontent %}
    <h1 align="center">Welcome to the Package Management Page.</h1>
        {% if packages %}
            {% for package in packages %}
                <p>{{ package }}
                <form action="/email/{{ package.id }}/" method="POST" class="inputform" id="sendemailform">
                <input type="submit" value="Send Notification Email!" />
                </form>
                </p>
            {% endfor %}
        {% elif package %}
            <p>{{ package }}
            <form action="/email/{{ package.id }}/" method="POST" class="inputform" id="sendemailform">
            <input type="submit" value="Send Notification Email!" />
            </form>
            </p>
        {% endif %}
    {% block subcontent2 %}{% endblock %}
{% endblock %}
