{% extends "maraudersmap.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    {{ super() }} Students
{% endblock %}

{% block subcontent %}
    <h1 align="center">Welcome to the Student Information Page.</h1>
        {% if students %}
            {% for student in students %}
                <p>{{ student }}</p>
            {% endfor %}
        {% elif student %}
            <div class="container">
                <h2 align="center">Student Details</h2>
                    {{ wtf.quick_form(
                        student,
                        form_type='horizontal',
                        horizontal_columns=('lg', 4, 5)
                        ) }}
            </div>
        {% endif %}
    {% block subcontent2 %}{% endblock %}
{% endblock %}
